{% extends "base.html" %}

{%  block top %}
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <h1>Olaf Food</h1>
                </h1>
            </div>
        </div>
    </section>
{%  endblock %}

{%  block main %}
    <p>Por outro lado, a hegemonia do ambiente político ainda não demonstrou convincentemente que vai participar na mudança das direções preferenciais no sentido do progresso. Acima de tudo, é fundamental ressaltar que a expansão dos mercados mundiais cumpre um papel essencial na formulação do levantamento das variáveis envolvidas. Por conseguinte, o início da atividade geral de formação de atitudes oferece uma interessante oportunidade para verificação dos métodos utilizados na avaliação de resultados.</p>
{%  endblock %}